/* Main styles */
body {
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /* Optional: Add CSS transitions */
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
  color: #61dafb;
}

a, a:hover {
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

span {
  margin-bottom: 5px;
}

#about-me {
  display: flex;
  justify-content: flex-start;
}

#projects {
  display: flex;
  justify-content: flex-start;
}

/* Trasitions */
#sub-juan {
  opacity: 0; /* Inicialmente la imagen es transparente */
  transition: opacity 0.7s ease-in-out; /* Transición de 0.5 segundos con efecto ease-in-out */
}
/* Aplicamos la animación después de 500 milisegundos */
#sub-juan.loaded {
  animation: aparecer 0.7s ease-in-out 250ms forwards; /* La animación dura 1.5 segundos, empieza después de 500 milisegundos y se mantiene en su estado final */
}

/* Aplicamos estilos de opacidad inicial */
#nombre-juan {
  opacity: 0; /* Inicialmente la imagen es transparente */
  transition: opacity 0.7s ease-in-out; /* Transición de 0.5 segundos con efecto ease-in-out */
}

#nombre-juan.loaded {
  animation: aparecer 0.7s ease-in-out 150ms forwards; /* La animación dura 0.7 segundos, empieza después de 100 milisegundos y se mantiene en su estado final */
}

/* Keyframes */
@keyframes aparecer {
  from {
    opacity: 0; /* La imagen comienza completamente transparente */
  }
  to {
    opacity: 1; /* La imagen termina completamente opaca */
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

/* NavBar */
#navbar {
  /* Transition */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px;
}

#navbar.nav-loaded {
  animation: aparecer 0.7s ease-in-out 500ms forwards;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  margin-right: 20px;
}

#navbar a {
  text-decoration: none;
  color: #61dafb;
  padding: 10px;
  border-right: solid 2px #61dafb;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

#navbar a:hover {
  color: #f0db4f;
  padding: 10px;
  border-right: solid 2px #f0db4f;
  font-weight: bold;
}

#navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.project-p {
  background-image: linear-gradient(to right,  #9ed822, #61dafb);
  -webkit-background-clip: text; /* Prefijo de proveedor para WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent; /* Prefijo de proveedor para WebKit */
}

.logo-github:hover {
  color: rgb(21, 207, 157);
}

.container.text-center {
  margin-top: 70px;
}

.foto-con-borde {
  border: 2px solid rgb(17, 234, 246);
}

.seccion-oscura {
  color: white;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.experiencia-titulo {
  background-image: linear-gradient(to right,  #f0db4f, #61dafb);
  -webkit-background-clip: text; /* Prefijo de proveedor para WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent; /* Prefijo de proveedor para WebKit */
}

.seccion-titulo {
  margin-top: 10px;
  font-size: 2rem;
  padding: 15px 0;
  font-weight: 800;
  background-image: linear-gradient(to right,  #9ed822, #61dafb);
  -webkit-background-clip: text; /* Prefijo de proveedor para WebKit (Chrome, Safari, etc.) */
  background-clip:text; /* Propiedad estándar */
  -webkit-text-fill-color: transparent; /* Prefijo de proveedor para WebKit */
}

.main-video, .circuit-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.seccion-descripcion {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f0db4f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.seccion-texto {
  font-size: 1.3rem;
  font-weight: 700;
  color:  #61dafb;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color:  #61dafb;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */
.hero {
  position: relative;
  min-height: 450px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #f0db4f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Sobre mi */
.sobre-mi {
  position: relative;
  height: 750px;
  padding: 40px 40px 60px 40px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align:center;
}

.sobre-mi .columna {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  height: 330px;
  /* Apply a linear gradient as the border */
  border: 2px solid transparent; /* Set initial border to transparent */
  border-image: linear-gradient(to right, #f0db4f, #61dafb); /* Apply linear gradient as border */
  border-image-slice: 1; /* Ensure the whole border is covered by the gradient */
  border-radius: 20px; /* Apply border radius */
}

.tech-p {
  font-size: 16px;
  font-weight: 700;
  color:#4152bf;
  padding: 1px;
  background-color:rgb(125, 228, 185);
  border-radius: 10px;
}

.sobre-mi .columna:hover {
  border-radius:15px;
}

.sobre-mi i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */
.proyectos-recientes {
  padding: 40px;
  background-image: url('imagenes/projects-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  border: 2px solid #185bd6;
  display: block;
  transition: all 0.2s ease
}

.proyectos-contenedor {
  padding-top: 10px;
  margin-bottom: 80px;
  height: 100%;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.7;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.project-p.soon {
  color:#185bd6;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Contact Section */
.contact .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contact .rectangulo {
  margin-top: -5rem;
  background-color: rgb(20, 36, 173); /* Dark Blue */
  background-image: linear-gradient(to bottom right, rgb(20, 36, 173), rgb(0, 168, 255)); /* Gradient from Dark Blue to Light Blue */
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px rgb(12, 217, 200);
}

.contact .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact .descripcion {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 500;
}

.contact {
  background-image: url('imagenes/background-contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.contact button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contact button:hover {
  background-color: white;
  color: black;
}

.contact button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contact button:hover i {
  color: black;
}

/* Pie de pagina (footer) */
footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  /* Reducir el ancho de las secciones para ajustarse a pantallas estrechas */
    /* Adjust the height of sections to fit the content */
    #about-me,
    #main-section, 
    #contact-me {
      height: auto; /* Set the height to auto to fit the content */
    }

    #nav-bar a {
      border-right: none;
      font-size: 16px;
    }

   /*Ensure the videos are responsive */
    .main-video,
    .circuit-video {
      height: 100%; /* Set the height to auto to maintain aspect ratio */
      width: 100%; /* Ensure the video covers the entire width */
    }

    .sobre-mi {
      background-image: url('imagenes/circuits-image.png');
      background-repeat: no-repeat;
      background-size: cover;
      view-timeline-name: --section;
      view-timeline-axis: block;
      animation-timeline: --section;
      animation-name: show;
      animation-range: entry 25% cover 30%;
      animation-fill-mode: both;
    }

    .sobre-mi .columna {
      height: 100%;
    }
    
    #navbar {
      opacity: 0;
    }
    
    .navbar-brand {
    display: none; /* Ocultar el logo de la navbar en dispositivos móviles */
    }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 450px;
  }
}